.landingA-container {
  background-color: #fdebd2;
}

.landingA-content {
  width: 15%;
  height: 20%;
  min-width: 150px;
  min-height: 200px;
  max-width: 180px;
  padding: 1rem;
}

.landingA-image {
  margin-top: 5%;
  min-width: 160px;
  min-height: 180px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.landingA-text {
  margin-top: 5%;
  font-size: 13px;
  font-weight: 500;
}

.containerA {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 1rem 1rem;
}

.gridA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.centerA {
  text-align: center;
  margin: auto;
}
